// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-dark {
  padding: 30px;
}

td {
  padding: 0 10px;
  margin: 0 5px;
}